@font-face {
  font-family: 'Avenir';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../../static/fonts/Avenir-Light.ttf") format("ttf");
}

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../static/fonts/Avenir-Book.ttf") format("ttf");
}

@font-face {
  font-family: 'Avenir';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../../static/fonts/Avenir-Black.ttf") format("ttf");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../../static/fonts/proxima-nova-bold.woff") format("woff");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../../static/fonts/proxima-nova-extrabold.woff") format("woff");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../static/fonts/proxima-nova-regular.woff") format("woff");
}

:root {
  --dark-grey: #58595B;
  --content-grey: #58585A;
  --light-grey: #F8F8F8;
  --pink: #F28CAF;
  --purple: #ae76b3;
  --blue: #5d91cc;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
}

p {
  font-weight: 300;
}