:root{
  --dark-grey: #58595B;
  --content-grey: #58585A;
  --light-grey: #F8F8F8;
  --pink: #F28CAF;
  --purple: #ae76b3;
  --blue: #5d91cc;
}

*{
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", serif;
  font-weight: 700;
}

p{
  font-weight: 300;
}